.venv
*.png
*.jpg
*.npy
*.hex
*.bin
__pycache__
.venv311


# Ignore specific dataset file
BMP/bmp_dataset_split.npz

# Ignore all .npz files inside forensics/BMP
BMP/*.npz
BMP/test_bmp_images
BMP/train_bmp_images
BMP/fragments_with_header_footer
BMP/fragments_headerless_footerless

#Ignore .npz files anywhere in the project
*.npz

# Ignore specific folders (if they are directories)
BMP/bike/
BMP/bmp_fragments/
BMP/bmp_headerless/

CNN/Testing_dataset
CNN/Training_dataset
CNN/Testing_fragments
CNN/Training_fragments